html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img{
    max-width: 300px;
}

.card-height {
    height: 600px;
}

.gateau-card {
    border: 4px solid #84acbf;
    margin-bottom: 20px;
}

.ing {
    border: 4px solid #84acbf;
    padding:10px;
}
.button{
    padding: 10px;
}

.navbar{
background-color: #84acbf;
}

.add{
    padding-top: 20px;
}