@model IEnumerable<Gateau>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    @if (Model != null)
    {
        foreach (var gateau in Model)
        {
            var imagePath = $"~/img/{gateau.UrlImage}";

            <div class="gateau-card">
                <img src="@Url.Content(imagePath)" class="card-img-top" alt="Image du gâteau">
                <h3>@gateau.Nom</h3>
                <p>@gateau.Description</p>
                <button onclick="afficherIngredients(@gateau.Id)">Voir les ingrédients</button>
            </div>
        }
    }
    else
    {
        <p>Aucun gâteau n'est disponible.</p>
    }
</div>


