@model IEnumerable<Gateau>

@{
    ViewData["Title"] = "Home Page";
    
}



<div class="row">
    @if (Model != null)
    {
        @foreach (var gateau in Model)
        {
            var imagePath = $"~/img/{gateau.UrlImage}";

            <div class="col-md-6">
                <div class="gateau-card card d-flex flex-column">
                    <img src="@Url.Content(imagePath)" class="card-img-top mb-3" alt="Image du gâteau">
                    <div class="card-body">
                        <h3 class="card-title">@gateau.Nom</h3>
                        <p class="card-text">@gateau.Description</p>
                        <a href="@Url.Action("Ingredients", "Gateau", new { id = gateau.Id })" class="btn btn-primary mt-auto">Voir les ingrédients</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>Aucun gâteau n'est disponible pour l'instant, mange autre chose.</p>
    }
</div>




